#main { width:766px;}

#header {height:332px;}

#footer {height:23px}

#index .column_left  {width:384px; float:left}
#index .column_right {width:232px; float:left}

#index1 .column_left  {width:384px; float:left}
#index1 .column_right {width:232px; float:left}

